ADDRESS=0.0.0.0
PORT=8080
NODE_ENV=development
AUTHORIZATION_USERNAME=kslint
AUTHORIZATION_PASSWORD=omed
AUTHORITY_MUNICIPALITY_NAME=Configured kommune
AUTHORITY_CONTACT_EMAIL=kommune@example.com
KSLINTEGRATION_DATABASE_USER=kslintegration
KSLINTEGRATION_DATABASE_PASSWORD=password
KSLINTEGRATION_DATABASE_DATABASE=kslintegration
KSLINTEGRATION_DATABASE_SERVER=sql.example.com